{% extends 'header.html' %}

{% block title %}Home Page{% endblock %}

{% block maincontent %}
<div class="category_name">Men's Fashion</div>  
<div class="category">
    {% for product in Product_Categories.mens_fashion %}
        <a href="{% url 'product_details' product.id %}">
            <div class="product">
                <img src="{{ product.Product_Image.url }}" class="product_image" alt="{{ product.Product_Name }} image">
                <div class="product_name">{{ product.Product_Name }}</div>
                <div class="product_price">Ksh {{ product.Product_Price }}</div>
            </div>    
        </a>        
    {% endfor %}
</div>
<div class="category_name">Ladies Fashion</div>  
<div class="category">
    {% for product in Product_Categories.ladies_fashion %}
        <a href="{% url 'product_details' product.id %}">
            <div class="product">
                <img src="{{ product.Product_Image.url }}" class="product_image" alt="{{ product.Product_Name }} image">
                <div class="product_name">{{ product.Product_Name }}</div>
                <div class="product_price">Ksh {{ product.Product_Price }}</div>
            </div>  
        </a>          
    {% endfor %}
</div>
{% endblock %}

